/* FONT */

/* @font-face {
  font-family: 'Aller Light';
  src: url(assets/font/Aller_Light.eot);
  src: url(assets/font/Aller_Light.eot?#iefix) format("embedded-opentype"), url(assets/font/Aller_Light.ttf) format("truetype"), url(assets/font/Aller_Light.woff) format("woff");
  font-weight: 200;
  font-style: normal;
} */

/* end FONT */


/* COMMON */

.body{
    font-family: arial, helvetica, sans-serif;
    color:#333;
}

.container{
    display: block;
    line-height: 0;
    font-size: 0;
    width: 100%;
}
.container > div{
    line-height: 1;
    font-size: initial;
}
.container-768{
    max-width: 768px;
}

/* end COMMON */

/* section to make avatars */

.avatars{
    margin: 25px auto;
}
.avatars-nav,
.avatars-box{
    display:inline-block;
    vertical-align: top;
}
.avatars-nav{
    line-height: 1;
    font-size: initial;
    margin-right: 2.5%;
    width: 30%;
}
.avatars-nav > ul li{
    display: block;
    margin-bottom: 15px;
}
.avatars-nav > ul li a{
    color:#333;
    display: block;
    font-size: 20px;
    text-decoration: none;
}
.avatars-nav > ul li a:hover,
.avatars-nav > ul li a.active{
    text-decoration: underline;
}
.avatars-nav .first-navigation-item .second-navigation{
    display: none;
}
.avatars-nav .first-navigation-item .second-navigation{
    display: none;
}
.avatars-nav .first-navigation-item.active .second-navigation{
    display: block;
    margin-top: 15px;
}
.avatars-nav .first-navigation-item .second-navigation > li{
    margin-left: 10px;
}
.navigation-options{
    display: none;
}
.navigation-options > .options-box-item{
    display: none;
}
.navigation-options.active{
    background: #fff;
    display: block;
    height: 100vh;
    left: 0;
    overflow: auto;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 99999; 
}
.navigation-options > .options-box-item.active{
    display: block;
    max-width: 1200px;
    line-height: 0;
    font-size: 0;
    text-align: left;
    padding: 0 10%;
    margin: 100px auto 50px; 
}
.navigation-options > .options-box-item.active .options-inner-item{
    border:1px solid #fff;
    line-height:0;
    font-size: 0;
    display: inline-block;
    vertical-align: top;
    margin: 0 1% 25px;
    width: 18%;
}
.navigation-options > .options-hair.options-box-item.active .options-inner-item{
    margin-left:1.15%;
    margin-right:1.15%;
    width: 10%;
}
.navigation-options > .options-eyes.options-box-item.active .options-inner-item{
    margin-left:2.5%;
    margin-right:2.5%;
    vertical-align: middle;
    width: 15%;
}
.navigation-options > .options-nose.options-box-item.active .options-inner-item{
    margin-left:3%;
    margin-right:3%;
    vertical-align: bottom;
    width: 8%;
}
.navigation-options > .options-mouth.options-box-item.active .options-inner-item{
    margin-left:4.2%;
    margin-right:4.2%;
    vertical-align: middle;
    width: 8%;
}
.navigation-options > .options-beard_mustache.options-box-item.active .options-inner-item{
    margin-left:3.2%;
    margin-right:3.2%;
    vertical-align: top;
    width: 10%;
}
.navigation-options > .options-glasses.options-box-item.active .options-inner-item{
    margin-left:3%;
    margin-right:3%;
    vertical-align: middle;
    width: 14%;
}
.navigation-options > .options-hats.options-box-item.active .options-inner-item{
    margin-left:2%;
    margin-right:2%;
    vertical-align: middle;
    width: 16%;
}
.navigation-options > .options-box-item.active .options-inner-item:hover{
    border:1px solid #000;
}
.navigation-options > .options-box-item.active .options-inner-item svg{
    display: block;
    line-height: 1;
    font-size: initial;
    max-width: 100%;
    width: 100%;
}
.navigation-options .close-options{
    background:url('../img/icon-close.svg') no-repeat center;
    background-size: contain;
    display:block;
    height: 30px;
    overflow: hidden;
    position: absolute;
    right: 15px;
    text-indent: -99999px;
    top:15px;
    width: 30px;
}
.avatars-box{
    width: 67.5%;
    line-height: 0;
    font-size: 0;
}
.avatars-box-picture{
    display: inline-block;
    padding-top: 50px;
    max-width: 350px;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    width: 100%;
}
.avatars-box-picture .picture-clothes{
    height: 465px;
    max-width: 100%;
    width: 100%;
    position: static !important;
    overflow: hidden;
}
.avatars-box-picture .picture-hair{
    left: 114px;
    max-width: 136px;
    position: absolute;
    top: 17px;
    width: 100%;
    z-index: 3;
}
.avatars-box-picture .picture-eyes{
    left: 137px;
    max-width: 89px;
    position: absolute;
    top: 113px;
    width: 100%;
    z-index: 4;
}
.avatars-box-picture .picture-nose{
    left: 166px;
    max-width: 28px;
    position: absolute;
    top: 139px;
    width: 100%;
}
.avatars-box-picture .picture-mouth{
    left: 152px;
    max-width: 58px;
    position: absolute;
    top: 168px;
    width: 100%;
}
.avatars-box-picture .picture-beard_mustache{
    left: 145px;
    max-width: 70px;
    position: absolute;
    top: 163px;
    width: 100%;
    z-index: 2;
}
.avatars-box-picture .picture-glasses{
    left: 133px;
    max-width: 97px;
    position: absolute;
    top: 113px;
    width: 100%;
    z-index:2;
}
.avatars-box-picture .picture-hats{
    position: absolute;
    max-width: 140px;
    width: 100%;
    top: 0px;
    left: 110px;
    z-index:4;
}
.avatars-box-picture > div svg{
    max-width: 100%;
    width: 100%;
}
.avatars-box-buttons{
    display: inline-block;
    line-height: 1;
    font-size:initial;
    padding-top: 0px;
    margin-left: 2.5%;
    max-width: 150px;
    vertical-align: top;
    width: 29%;
}
.avatars-box-buttons > div > a{
    border: 1px solid #333;
    display: block;
    height:30px;
    font-size: initial;
    line-height: 1;
    overflow: hidden;
    width: 30px;
}
.avatars-box-buttons-delete{
    display: inline-block;
    margin-top: 20px;
    position: relative;
    text-align: right;
    width: 100%;
}
#delete-box.avatars-box-buttons-delete-box-item{
    display: inline-block;
    background: url('../img/icon-close.svg') no-repeat center;
    background-size: 70%;
    text-indent: 99999px;
}
#delete-box.avatars-box-buttons-delete-box-item:hover{
    background-size: 60%;
}
.avatars-box-buttons-position{
    display: inline-block;
    font-size: 0;
    line-height: 0;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 100px;
}
.avatars-box-buttons-position-item{
    background: url('../img/icon-up.svg') no-repeat center;
    background-size: 90%;
    text-indent: -99999px;
}
#position-top.avatars-box-buttons-position-item,#position-bottom.avatars-box-buttons-position-item{
    display: block;
    margin: 0 auto;
}
#position-right.avatars-box-buttons-position-item,
#position-left.avatars-box-buttons-position-item{
    display: inline-block;
    vertical-align: middle;
}
#position-left.avatars-box-buttons-position-item{
    margin-right: 15px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
#position-right.avatars-box-buttons-position-item{
    margin-left: 15px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
#position-bottom.avatars-box-buttons-position-item{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
#position-bottom.avatars-box-buttons-position-item{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.avatars-box-buttons-position-item:hover{
    background-size: 80%;
}
.avatars-box-buttons-size{
    display: inline-block;
    margin-left: 16px;
    vertical-align: middle;
    width: 30px;
}
.avatars-box-buttons-size-item{
    text-indent: -99999px;
}
#size-max.avatars-box-buttons-size-item{
    background: url('../img/ver-mas.svg') no-repeat center;
    background-size: 70%;
    margin-bottom: 10px;
}
#size-min.avatars-box-buttons-size-item{
    background: url('../img/ver-menos.svg') no-repeat center;
    background-size: 70%;
}
#size-min.avatars-box-buttons-size-item:hover,
#size-max.avatars-box-buttons-size-item:hover{
    background-size: 60%;
}
.avatars-box-buttons-delete-all{
    display: inline-block;
    margin-top: 0px;
    position: relative;
    text-align: right;
    width: 100%;
}
#delete-box-all.avatars-box-buttons-delete-box-item{
    display: inline-block;
    background: url('../img/actualizar.svg') no-repeat center;
    background-size: 70%;
    text-indent: 99999px;
    line-height: 0;
    font-size: 0;
}
#delete-box-all.avatars-box-buttons-delete-box-item:hover{
    background-size: 60%;
}
.avatars-box-picture-min{
    display: block;
    font-size: 0;
    line-height: 0;
    margin-top: 40px;
    width: 100%;
}
.avatars-box-picture-min > div{
    display: none;
}
.avatars-box-picture-min > div.active{
    display: inline-block;
    font-size: initial;
    line-height: 1;
    margin: 0 5% 20px;
    vertical-align: middle;
    width: 40%;
}
.avatars-box-picture-min > div > a{
    display: block;
    filter: grayscale(100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
     filter: alpha(opacity=40);
    -moz-opacity: 0.40;
    -khtml-opacity: 0.40;
    opacity: 0.40;
    width: 100%;
}
.avatars-box-picture-min > div.active > a:hover,
.avatars-box-picture-min > div.active.active-focus > a{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
     filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    -webkit-transition: all 0.5s 0s ease;
    -moz-transition: all 0.5s 0s ease;
    -o-transition: all 0.5s 0s ease;
    transition: all 0.5s 0s ease;
}
.avatars-box-colors{
    display:none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
     filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}
.avatars-box-colors.active{
    display:block;
    -webkit-transition: all 0.5s 0s ease;
    -moz-transition: all 0.5s 0s ease;
    -o-transition: all 0.5s 0s ease;
    transition: all 0.5s 0s ease;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
     filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

/* end section to make avatars */

/* Responsive */

@media only screen and (max-width : 1200px) {}
@media only screen and (max-width : 1024px) {}
@media only screen and (max-width : 960px) {}
@media only screen and (max-width : 768px) {}
@media only screen and (max-width : 480px) {}